extends ../layouts/default

mixin regular(post)
	.post
		if post.image.exists
			img.img-responsive(src=post._.image.thumbnail(360, 270))
		.post-body
			if post.publishedDate
				span.post-date #{post._.publishedDate.format('DD/MM')}
			p.post-title: a(href=`/blog/post/${post.slug}`)= post.title
			.post-description!= post.content.brief.html

block vars
	- var showed = true

block main
	.spacer
	main.item-fill.container.column.v-centered
		.posts
			each post in data.posts.results
				+regular(post)


		//- if data.posts.totalPages > 1
		//- 	ul.pagination
		//- 		if data.posts.previous
		//- 			li: a(href='?page=' + data.posts.previous): span.glyphicon.glyphicon-chevron-left
		//- 		else
		//- 			li.disabled: a(href='?page=' + 1): span.glyphicon.glyphicon-chevron-left
		//- 		each p, i in data.posts.pages
		//- 			li(class=data.posts.currentPage == p ? 'active' : null)
		//- 				a(href='?page=' + (p == '...' ? (i ? data.posts.totalPages : 1) : p ))= p
		//- 		if data.posts.next
		//- 			li: a(href='?page=' + data.posts.next): span.glyphicon.glyphicon-chevron-right
		//- 		else
		//- 			li.disabled: a(href='?page=' + data.posts.totalPages): span.entypo.glyphicon.glyphicon-chevron-right

block js
	script.
		function setSpacer () {
			const navHeight = document.querySelector('nav').offsetHeight
			document.querySelector('.spacer').style.height = `${navHeight}px`
		}

		setSpacer()

		window.addEventListener('resize', function () {
			setSpacer()
		})