extends ../layouts/default
	
block main
	.spacer
	main.item-fill.container
		if galleries.length
			each gallery in galleries
				h2= gallery.name
				.carousel.slide(data-ride="carousel" id=`carousel-${gallery.name.replace(' ', '-').toLowerCase()}` style="height: 350px")
					ol.carousel-indicators
						each image, index in gallery.images
							li(
								data-target=`#carousel-${gallery.name.replace(' ', '-').toLowerCase()}`,
								data-slide-to=`${index}`,
								class=(index === 0 ? 'active' : ''))
					
					.carousel-inner(style="height: 100%")
						each image, index in gallery.images
							.item(
								class=(index === 0 ? 'active' : ''),
								style=`background: url(${image.secure_url}) no-repeat center center; background-size: cover;height: 100%`
								)

					a.left.carousel-control(
						href=`#carousel-${gallery.name.replace(' ', '-').toLowerCase()}`,
						data-slide="prev"
						)
						span.glyphicon.glyphicon-chevron-left
					a.right.carousel-control(
						href=`#carousel-${gallery.name.replace(' ', '-').toLowerCase()}`,
						data-slide="next"
						)
						span.glyphicon.glyphicon-chevron-right

					//- .row.gallery-images
					//- 	if gallery.heroImage.exists
					//- 		.col-sm-4.col-md-4.gallery-image: img(src=gallery._.heroImage.limit(680,680)).img-rounded
					//- 		.col-sm-8.col-md-8: .row
					//- 			each image in gallery.images
					//- 				.col-xs-4.col-sm-4.col-md-3.gallery-image: img(src=image.limit(300,300)).img-rounded
					//- 	else
					//- 		each image in gallery.images
					//- 			.col-xs-6.col-sm-4.col-md-3.gallery-image: img(src=image.limit(300,300)).img-rounded
		else
			h3.text-muted There are no image galleries yet.

block js
	script(src="/js/jquery/jquery-2.1.4.min.js")
	script(src="/js/bootstrap/bootstrap-3.3.5.min.js")
	script.
		function setSpacer () {
			const navHeight = document.querySelector('nav').offsetHeight
			document.querySelector('.spacer').style.height = `${navHeight}px`
		}

		setSpacer()

		window.addEventListener('resize', function () {
			setSpacer()
		})