extends ../layouts/default

mixin featuredEvent(event)
	.featured-event
		h2.text-center= event.title
		.featured-event-body
			.featured-event-image
				img.img-responsive(src=`${event.image.secure_url}`, alt="Imagen")
			.featured-event-content
				div!= event.content.html
				.text-center
					a.inscription-btn(href=`${event.inscription}`) Inscripción

mixin regularEvent(event)
	.regular-event
		h3= event.title
		.regular-event-content!= event.content.html
		a(href=`${event.post}`) Leer más


block head
	script(src="/js/vendors/vue.min.js")

block main
	main.item-fill
		.full-section.column.v-centered
			.background.background-beige
			.container#intro
				img.intro-image.animated.zoomIn(src="/images/logo-lg.png", alt="Logo Mundial Feminista")
				.intro-text.animated.fadeIn
					p El Mundial de la Igualdad es una iniciativa que busca que los medios tradicionales y alternativos, organizaciones, clubes deportivos y marcas interesadas en el fútbol difundan, desarrollen y promuevan contenidos con una agenda social y de género más responsable.
					.column.h-centered
						a.animated.pulse.scroller(href="#hackaton" data-scroll) Saber más
		section.container#hackaton
			+featuredEvent(data.featured)
			each event in data.events
				if !event.featured
					+regularEvent(event)
		section.container
			h2.section-title.text-custom-blue Así quedaron los grupos
			#app
				.groups
					.group-card(
						v-for="(group, index) in groups",
						:key="index"
					)
						p.group-letter Grupo {{ group.group.toUpperCase() }}
						.group-team.line.v-centered(
							v-for="(team, index) in group.teams",
							:key="index"
						)
							img(:src="team.image | imageDir", alt="")
							span {{ team.country }}

block js
	script(src="/js/vendors/moveTo.min.js")
	script(src="/js/views/index.js")